.imageContainer {
  max-width: 800px;
}

.imageContainer img {
  width: 100%;
  border: 1px solid red;
}

.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 2.5rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
  background: #d1353488;
  color: red;
}
