.navContainer {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: #212121;
}

.nav {
  display: flex;
}

.navLink {
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  background: linear-gradient(to right, #d2d2d2, #d2d2d2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navLink:hover {
  background: linear-gradient(to right, #f3904f, #3b4371);
  background-clip: text;
}

.activeNavLink {
  background: linear-gradient(to right, #f3904f, #3b4371);
  background-clip: text;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #f3904f, #3b4371);
}
