body {
  margin: 0;
  padding: 0;
  background: #2c2c2c;
  color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  color: #f2f2f2;
  margin: 1rem 0;
  padding: 0.5rem;
  background: #00000076;
  border: none;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  color: #f2f2f2;
  margin: 1rem 0;
  padding: 0.8rem;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #f3904f, #3b4371);
  transition: opacity 300ms ease-out;
}

button:hover {
  opacity: 1;
}

/* Uppy custom styling */
.uppy-DragDrop-container {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  border-radius: 7px !important;
  background-color: #00000076;
}

.uppy-DragDrop-inner {
  margin: 0 !important;
  text-align: center !important;
  padding: 80px 20px !important;
  line-height: 1.4 !important;
}

.uppy-DragDrop-arrow {
  width: 60px !important;
  height: 60px !important;
  fill: #e0e0e0 !important;
  margin-bottom: 17px !important;
}

.uppy-DragDrop--is-dragdrop-supported {
  border: 2px dashed !important;
  border-color: #f3904f !important;
}

.uppy-DragDrop-container.drag {
  border-color: #939393 !important;
  background-color: #e6e6e6 !important;
}

.uppy-DragDrop-container.drag .uppy-DragDrop-arrow {
  fill: #939393 !important;
}

.uppy-DragDrop-label {
  display: block !important;
  cursor: pointer !important;
  font-size: 1.15em !important;
  margin-bottom: 5px !important;
}

.uppy-DragDrop-note {
  font-size: 1em !important;
  color: #adadad !important;
}

.uppy-DragDrop-dragText {
  color: #f3904f !important;
}
